nav {
    background-color: #333;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding: 15px;
    display: flex;
    justify-content: space-between; /* Add this line for spacing */
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  